@model Model.EF.BookingDetail

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{Sửa đơn đặt phòng số @Model.BookingID}

@using (Html.BeginForm("Edit", "BookingDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div style="display:none" class="form-group">
        @Html.LabelFor(model => model.BookingID, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.BookingID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BookingID, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Adult, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.Adult, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Adult, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Children, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.Children, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Children, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoomTypeName, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.RoomTypeName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RoomTypeName, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextBoxFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xác nhận" class="btn btn-default" />
            <input href="/Admin/BookingDetails/Index/@Model.BookingID" value="Hủy" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Booking", "../Booking/Index")
</div>
