@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{Danh sách User}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Thao tác</th>
                                <th>ID</th>
                                <th>Tài khoản</th>
                                <th>Tên</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                             {
                                <tr id="row_@item.ID">
                                    <td>
                                        <a href="/Admin/User/Edit/@item.ID">Sửa</a>
                                        <a > | </a>
                                        @Ajax.ActionLink("Xóa","Delete", new { @id = item.ID},new AjaxOptions {
                                       Confirm = "Bạn có muốn xóa User này?",
                                       OnComplete = "$('#row_" + item.ID+ "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                    <td>@item.ID</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                </tr>
                             }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>

    </div>
</div>